{% load staticfiles%}
<div class="row">
      <div class="large-4 medium-6 small-12 large-centered medium-centered columns">
        <div id="flat-black-player-container">
            <div id="list-screen" class="slide-in-top">

              <div id="list-screen-header" class="hide-playlist">
                <img id="up-arrow" src="{% static "gaana/img/up.svg" %}"/>
                Hide Playlist
              </div>

              <div id="list">
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="0">
                  <span class="song-number-now-playing">
                    <span class="number">1</span>
                    <img class="now-playing" src="{% static "gaana/img/now-playing.svg" %}"/>
                  </span>

                  <div class="song-meta-container">
                    <span class="song-name" amplitude-song-info="name" amplitude-song-index="0"></span>
                    <span class="song-artist-album"><span amplitude-song-info="artist" amplitude-song-index="0"></span> - <span amplitude-song-info="album" amplitude-song-index="0"></span></span>
                  </div>

                  <span class="song-duration">
                    3:30
                  <span>
                </div>
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="1">
                  <span class="song-number-now-playing">
                    <span class="number">2</span>
                    <img class="now-playing" src="{% static 'gaana/img/now-playing.svg'%}"/>
                  </span>

                  <div class="song-meta-container">
                    <span class="song-name" amplitude-song-info="name" amplitude-song-index="1"></span>
                    <span class="song-artist-album"><span amplitude-song-info="artist" amplitude-song-index="1"></span> - <span amplitude-song-info="album" amplitude-song-index="1"></span></span>
                  </div>

                  <span class="song-duration">
                    3:33
                  <span>
                </div>
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="2">
                  <span class="song-number-now-playing">
                    <span class="number">3</span>
                    <img class="now-playing" src="{% static 'gaana/img/now-playing.svg'%}"/>
                  </span>

                  <div class="song-meta-container">
                    <span class="song-name">Best Song Ever</span>
                    <span class="song-artist-album">One Direction - Mid Night Memories</span>
                  </div>

                  <span class="song-duration">
                    3:32
                  <span>
                </div>
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="3">
                  <span class="song-number-now-playing">
                    <span class="number">4</span>
                    <img class="now-playing" src="{% static 'gaana/img/now-playing.svg'%}"/>
                  </span>

                  <div class="song-meta-container">
                    <span class="song-name">Heathens</span>
                    <span class="song-artist-album">Twenty One Pilots - Suicide Squad</span>
                  </div>

                  <span class="song-duration">
                    3:30
                  <span>
                </div>
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="4">
                  <span class="song-number-now-playing">
                    <span class="number">5</span>
                    <img class="now-playing" src="{% static 'gaana/img/now-playing.svg'%}"/>
                  </span>

                  <div class="song-meta-container">
                    <span class="song-name">Perfect</span>
                    <span class="song-artist-album">Ed Sheeran - Divide</span>
                  </div>

                  <span class="song-duration">
                    5:12
                  <span>
                </div>
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="5">
                  <span class="song-number-now-playing">
                    <span class="number">6</span>
                    <img class="now-playing" src="{% static 'gaana/img/now-playing.svg'%}"/>
                  </span>

                  <div class="song-meta-container">
                    <span class="song-name">Channa Mereya</span>
                    <span class="song-artist-album">Arijit Singh - ADHM</span>
                  </div>

                  <span class="song-duration">
                    5:29
                  <span>
                </div>
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="6">
                  <span class="song-number-now-playing">
                    <span class="number">7</span>
                    <img class="now-playing" src="{% static 'gaana/img/now-playing.svg'%}"/>
                  </span>

                  <div class="song-meta-container">
                    <span class="song-name">The Humma Song</span>
                    <span class="song-artist-album">Badshah - Horn Ok</span>
                  </div>

                  <span class="song-duration">
                    5:29
                  <span>
                </div>
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="7">
                  <span class="song-number-now-playing">
                    <span class="number">8</span>
                    <img class="now-playing" src="{% static 'gaana/img/now-playing.svg'%}"/>
                  </span>

                  <div class="song-meta-container">
                    <span class="song-name">Tere Sang Yaara</span>
                    <span class="song-artist-album">Atif Aslam - Rustom</span>
                  </div>

                  <span class="song-duration">
                    2:39
                  <span>
                </div>
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="8">
                  <span class="song-number-now-playing">
                    <span class="number">9</span>
                    <img class="now-playing" src="{% static 'gaana/img/now-playing.svg'%}"/>
                  </span>

                  <div class="song-meta-container">
                    <span class="song-name">Dj Waaley Babu</span>
                    <span class="song-artist-album">Badshah - Uknown</span>
                  </div>

                  <span class="song-duration">
                    1:00
                  <span>
                </div>
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="9">
                  <span class="song-number-now-playing">
                    <span class="number">10</span>
                    <img class="now-playing" src="{% static 'gaana/img/now-playing.svg'%}"/>
                  </span>

                  <div class="song-meta-container">
                    <span class="song-name">We Don't Talk Anymore</span>
                    <span class="song-artist-album">Charlie Puth - Nice Track Mind</span>
                  </div>

                  <span class="song-duration">
                    5:25
                  <span>
                </div>
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="10">
                  <span class="song-number-now-playing">
                    <span class="number">11</span>
                    <img class="now-playing" src="{% static 'gaana/img/now-playing.svg'%}"/>
                  </span>

                  <div class="song-meta-container">
                    <span class="song-name">Tere Siva</span>
                    <span class="song-artist-album">Darshan Ravel - Unknown</span>
                  </div>

                  <span class="song-duration">
                    5:40
                  <span>
                </div>
              </div>

              <div id="list-screen-footer">
                <div id="list-screen-meta-container">
                  <span amplitude-song-info="name" amplitude-main-song-info="true" class="song-name"></span>

                  <div class="song-artist-album">
                    <span amplitude-song-info="artist" amplitude-main-song-info="true"></span>
                  </div>
                </div>
                <div class="list-controls">
                  <div class="list-previous amplitude-prev"></div>
                  <div class="list-play-pause amplitude-play-pause" amplitude-main-play-pause="true"></div>
                  <div class="list-next amplitude-next"></div>
                </div>
              </div>
            </div>
            <div id="player-screen">
              <div class="player-header down-header">
                <img id="down" src="{% static 'gaana/img/down.svg'%}"/>
                Show Playlist
              </div>
              <div id="player-top">
                <img amplitude-song-info="cover_art_url" amplitude-main-song-info="true"/>
              </div>
              <div id="player-progress-bar-container">
                <progress id="song-played-progress" class="amplitude-song-played-progress" amplitude-main-song-played-progress="true"></progress>
                <progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
              </div>
              <div id="player-middle">
                <div id="time-container">
                  <span class="amplitude-current-time time-container" amplitude-main-current-time="true"></span>
                  <span class="amplitude-duration-time time-container" amplitude-main-duration-time="true"></span>
                </div>
                <div id="meta-container">
                  <span amplitude-song-info="name" amplitude-main-song-info="true" class="song-name"></span>

                  <div class="song-artist-album">
                    <span amplitude-song-info="artist" amplitude-main-song-info="true"></span>
                  </div>
                </div>
              </div>
              <div id="player-bottom">
                <div id="control-container">

                  <div id="shuffle-container">
                    <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
                  </div>

                  <div id="prev-container">
                    <div class="amplitude-prev" id="previous"></div>
                  </div>

                  <div id="play-pause-container">
                    <div class="amplitude-play-pause" amplitude-main-play-pause="true" id="play-pause"></div>
                  </div>

                  <div id="next-container">
                    <div class="amplitude-next" id="next"></div>
                  </div>

                  <div id="repeat-container">
                    <div class="amplitude-repeat" id="repeat"></div>
                  </div>

                </div>

                <div id="volume-container">
                  <img src="{% static 'gaana/img/volume.svg' %}"/><input type="range" class="amplitude-volume-slider" step=".1"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script type="text/javascript">
		Amplitude.init({
      "bindings": {
        37: 'prev',
        39: 'next',
        32: 'play_pause'
      },
			"songs": [
				{
					"name": "Stressed Out",
					"artist": "Twenty One Pilots",
					"album": "Blurryface",
					"url": "static/gaana/sounds/1.mp3",
					"cover_art_url": "static/gaana/images/1.jpg"
				},
				{
					"name": "Baarish Lete Aana",
					"artist": "Darshan Ravel",
					"album": "Baarish",
					"url": "static/gaana/sounds/2.mp3",
					"cover_art_url": "static/gaana/images/2.jpg"
				},
				{
					"name": "Best Song Ever",
					"artist": "One Direction",
					"album": "Mid Night Memories",
					"url": "static/gaana/sounds/3.mp3",
					"cover_art_url": "static/gaana/images/3.jpg"
				},
				{
					"name": "Heathens",
					"artist": "Twenty One Pilots",
					"album": "Suicide Squad",
					"url": "static/gaana/sounds/4.mp3",
					"cover_art_url": "static/gaana/images/4.jpg"
				},
				{
					"name": "Perfect",
					"artist": "Ed Sheeran",
					"album": "Divide",
					"url": "static/gaana/sounds/5.mp3",
					"cover_art_url": "static/gaana/images/5.jpg"
				},
				{
					"name": "Channa Mereya",
					"artist": "Arijit Singh",
					"album": "Ae Dil Hai Mushkil",
					"url": "static/gaana/sounds/6.mp3",
					"cover_art_url": "static/gaana/images/6.jpg"
				},
				{
					"name": "The Humma Song",
					"artist": "Badshan",
					"album": "Horn Ok",
					"url": "static/gaana/sounds/7.mp3",
					"cover_art_url": "static/gaana/images/7.jpg"
				},
				{
					"name": "Tere Sang Yaara",
					"artist": "Atif Aslam",
					"album": "Rustom",
					"url": "static/gaana/sounds/8.mp3",
					"cover_art_url": "static/gaana/images/8.jpg"
				},
				{
					"name": "Dj Waale Babu",
					"artist": "Badshah",
					"album": "Party",
					"url": "static/gaana/sounds/9.mp3",
					"cover_art_url": "static/gaana/images/9.jpg"
				},
				{
					"name": "We Don't Talk Anymore",
					"artist": "Charlie Puth",
					"album": "Nice Track Mind",
					"url": "static/gaana/sounds/10.mp3",
					"cover_art_url": "static/gaana/images/10.jpg"
				},
				{
					"name": "Tera Zikr",
					"artist": "Darshan Ravel",
					"album": "Tera Zikr",
					"url": "static/gaana/sounds/11.mp3",
					"cover_art_url": "static/gaana/images/11.jpg"
				}
			]
		});

	</script>

  <!--
    Include UX functions JS

    NOTE: These are for handling things outside of the scope of AmplitudeJS
  -->
  <script type="text/javascript" src="{% static 'gaana/js/functions.js' %}"></script>
