{% extends 'blog/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-4 col-lg-4">
          <div class="panel panel-default" style="background-color:#080808b0; color:#e1d3c1">
              <div class="panel-body">
                  <a href="{% url 'blog:detail' blog.id %}">
                      {% if blog.blog_image %}
                          <img src="{{ blog.blog_image.url }}" class="img-responsive">
                      {% else %}
                          <h3>No image to display</h3>
                      {% endif %}
                  </a>
              </div>
          </div>
      </div>
      <div class="col-sm-8 col-md-8">
          <div class="panel panel-default"style="background-color:#080808b0; color:#e1d3c1">
              <div class="panel-body" >
                <h1>{{ blog.blog_title}}</h1>
                <p>{{blog.description}}</p>
                <h3>{{ blog.post_date}}</h3>
              </div>
            </div>
          </div>
        </div>
  {% endblock %}
