body {
    background:url("images/background.jpg"); 
}
.header {

    text-align: center;
    background: #000000;
}
ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius:0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}
.navbar-center
{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
}
#navBarSearchForm input[type=text]{width:430px !important;}
.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}
